<!DOCTYPE html>
<html>

<head>
  <title>Upload Files</title>
  <script src="/siofu/client.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/style.css" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Ubuntu&display=swap" rel="stylesheet">


  <script type="text/javascript">

    var socketID;
    var isTaskGiver;
    var isPlayerTurn;
    var canUpload;
    var playerScore;
    var opponent;
    var opponentName;
    var name = '<%=user%>'
    var looper = 0;
    var timeinterval;
    var isMyTimer = false;
    var deadline;

    document.addEventListener(
      "DOMContentLoaded",
      function () {
        var socket = io.connect("");



        const messageContainer = document.getElementById('message-container')
        const messageForm = document.getElementById('send-container')
        const messageInput = document.getElementById('message-input')

        socket.on('player-info', (player) => {
          socketID = socket.id;
          isTaskGiver = player.task_giver;
          isPlayerTurn = player.player_turn;
          canUpload = player.can_upload;
          playerScore = player.score;
          opponent = player.opponent;
          socket.emit('name-info', { 'name': name, 'sender': socket.id, 'opponent': opponent })
          console.log(name + " PLAYER INFO: \n Socket ID: " + player.socket + "\nOpponent: " + opponent + "\n" + isTaskGiver + "\n" + isPlayerTurn + "\n" + canUpload)
          buttonStateHandler();
        })

        socket.on('player-left', () => {
          console.log('\nPLAYER LEFT !!!\n');
          alert("Przeciwnik opuścił grę.\nNastąpi przeniesienie do strony głównej.")
          window.location = '/';
        })


        socket.on('name-info-response', (data) => {
          opponentTag = document.getElementById('opponent-name')
          opponentName = data.name;
          console.log('OPPONENT NAME: ' + opponentName)
          opponentTag.innerHTML = opponentName + ':';

          console.log(looper)
          looper++;
          socket.emit('name2-info', { 'sender': opponent, 'name2': name })

        })

        socket.on('name2-info-response', (data) => {
          opponentTag = document.getElementById('opponent-name')
          opponentName = data.name;
          console.log('OPPONENT NAME: ' + opponentName)
          opponentTag.innerHTML = opponentName + ':';
        })


        var siofu = new SocketIOFileUpload(socket);

        siofu.listenOnInput(document.getElementById("upload_input"));

        // Do something on upload progress:
        siofu.addEventListener("progress", function (event) {
          var percent = (event.bytesLoaded / event.file.size) * 100;
          console.log("File is", percent.toFixed(2), "percent loaded");
        });

        // Do something when a file is uploaded:
        siofu.addEventListener("complete", function (event) {
          console.log(event.detail.name);

          var video = document.createElement("video");
          var div_small = document.createElement('div');
          var span_timestamp = document.createElement('span');

          div_small.setAttribute("class", "my-msg");
          var br = document.createElement('br');

          var p_username = document.createElement('p');
          p_username.innerHTML = name;

          video.setAttribute("controls", "controls");

          video.src = '/uploads/' + event.detail.name;
          video.load();

          console.log("VIDEO SRC: " + video.src)

          span_timestamp.setAttribute("class", "timestamp");
          var time = new Date().toLocaleString('pl-PL');
          span_timestamp.innerHTML = time;

          div_small.innerHTML = p_username.outerHTML + span_timestamp.outerHTML + video.outerHTML + br.outerHTML;

          var div = document.getElementById("message-container");
          socket.emit('send-video', { 'opponent': opponent, 'src': video.src, 'name': name, 'timestamp': time })
          div.appendChild(div_small);
          div.appendChild(br)

          isPlayerTurn = false;
          canUpload = false;
          isMyTimer = false;
          socket.emit('upload-pass-turn', {
            'opponent': opponent,
            'task_giver': isTaskGiver,
            'player_turn': isPlayerTurn,
            'can_upload': canUpload
          })
          
          buttonStateHandler();
        });

        socket.on('display-video', async path => {
          await delay(500);
          var video = document.createElement("video");
          var div_small = document.createElement('div');
          var span_timestamp = document.createElement('span');

          div_small.setAttribute("class", "other-msg");
          var br = document.createElement('br');

          video.setAttribute("controls", "controls");
          video.src = path.src;
          video.load();

          console.log("VIDEO SRC: " + video.src)

          var p_username = document.createElement('p');
          p_username.innerHTML = path.name;

          span_timestamp.setAttribute("class", "timestamp");
          span_timestamp.innerHTML = path.timestamp;

          div_small.innerHTML = p_username.outerHTML + span_timestamp.outerHTML + video.outerHTML + br.outerHTML;

          var div = document.getElementById("message-container");

          
          div.append(div_small);
          div.append(br);
        })



        socket.on('upload-pass-turn-response', (data) => {
          if (data.task_giver == true
            && data.player_turn == false
            && data.can_upload == false) {
            isTaskGiver = false;
            isPlayerTurn = true;
            canUpload = false;
          }
          else if (
            data.task_giver == false
            && data.player_turn == false
            && data.can_upload == false) {
            isTaskGiver = true;
            isPlayerTurn = true;
            canUpload = false;
          }
          isMyTimer = true;
          deadline = new Date(Date.parse(new Date()) + 0.2 * 60 * 1000);
          initializeClock('clockdiv', deadline);
          socket.emit('initialize-clock', { 'player': socketID, 'opponent': opponent, 'id': 'clockdiv', 'deadline': deadline })
          buttonStateHandler()
          console.log(name + " PLAYER INFO: \n" + isTaskGiver + "\n" + isPlayerTurn + "\n" + canUpload)
        })


        socket.on('system-message', (data) => {
          printSysMsg(data.msg);
        })


        socket.on('opponent-info', (data) => {
          console.log(data)
          opponent = data.opponent;
        })

        socket.on('initialize-clock-response', (data) => {
          console.log('CLOCKKKKKKKK: ' + data.id)

          initializeClock(data.id, data.deadline)
        })

        document.querySelector('#ok-button').onclick = () => {
          if (
            isPlayerTurn == true
            && canUpload == false) {
            canUpload = true
            buttonStateHandler();
          }
        }

        document.querySelector('#nok-button').onclick = () => {
          if (
            isTaskGiver == false
            && isPlayerTurn == true
            && canUpload == false) {
            isTaskGiver = true;
            canUpload = true;
            socket.emit('nok-pass-turn', {
              'opponent': opponent,
              'task_giver': isTaskGiver,
              'player_turn': isPlayerTurn,
              'can_upload': canUpload
            })
            console.log(' ZMIANA ZADAJACEGO')

          } else if (
            isTaskGiver == true
            && isPlayerTurn == true
            && canUpload == false) {
            canUpload = true;
            console.log(name + ' otrzymuje PUNKT !')

            playerScore++;
            playerScoreTag = document.getElementById('player-score')
            playerScoreTag.innerHTML = playerScore;
            socket.emit('send-score', { 'socket': socketID, 'player_name': name, 'opponent': opponent, 'opponent_name': opponentName, 'score': playerScore })

          }
          deadline = new Date(Date.parse(new Date()) + 0.2 * 60 * 1000);
          initializeClock('clockdiv', deadline)
          socket.emit('initialize-clock', { 'player': socketID, 'opponent': opponent, 'id': 'clockdiv', 'deadline': deadline })
          buttonStateHandler();
        }

        socket.on('score-point-response', (data) => {
          playerScore++;
          playerScoreTag = document.getElementById('player-score')
          playerScoreTag.innerHTML = playerScore;
          socket.emit('send-score', { 'socket': socketID, 'player_name': name, 'opponent': opponent, 'opponent_name': opponentName, 'score': playerScore })
        })

        socket.on('game-over', (data) => {
          console.log("GAME OVER\n" + data)
          if (data.winner == name) {
            alert("WYGRAŁEŚ!\nKoniec gry.\nNaciśnij OK, aby wrócic do strony głównej.")
          } else {
            alert("Gracz " + data.winner + " wygrywa!\nKoniec gry.\nNaciśnij OK, aby wrócic do strony głównej.")
          }
          window.location = '/';
        })

        socket.on('nok-pass-turn-response', (data) => {
          if (data.task_giver == true
            && data.player_turn == true
            && data.can_upload == true) {
            isTaskGiver = false;
            isPlayerTurn = false;
            canUpload = false;
          }
          else if (
            data.task_giver == false
            && data.player_turn == false
            && data.can_upload == false) {
            isTaskGiver = true;
            isPlayerTurn = true;
            canUpload = false;
          }

          buttonStateHandler()
          console.log(name + " PLAYER INFO: \n" + isTaskGiver + "\n" + isPlayerTurn + "\n" + canUpload)
        })

        socket.on('timer-controller-response', (data) => {
          console.log(name + " TAJM KONTROLER: \n" + data.task_giver + "\n" + data.player_turn + "\n" + data.can_upload + "\n" + data.timer_status)
          if (data.task_giver == false
            && data.player_turn == false
            && data.can_upload == false
            && data.timer_status == false) {
            isTaskGiver = true;
            isPlayerTurn = true;
            canUpload = true;
            isMyTimer = true;
          }
          deadline = new Date(Date.parse(new Date()) + 0.2 * 60 * 1000);
          initializeClock('clockdiv', deadline)
          socket.emit('initialize-clock', { 'player': socketID, 'opponent': opponent, 'id': 'clockdiv', 'deadline': deadline })
          buttonStateHandler()
        })

        socket.on('send-score-response', (data) => {
          opponentScoreTag = document.getElementById('opponent-score')
          opponentScoreTag.innerHTML = data.score;
        })

        function printSysMsg(msg) {
          const p = document.createElement('p');
          p.innerHTML = msg;
          document.querySelector('#message-container').append(p);
        }


        function initializeClock(id, endtime) {
          clearInterval(timeinterval)
          var clock = document.getElementById(id);
          var minutesSpan = clock.querySelector('.minutes');
          var secondsSpan = clock.querySelector('.seconds');

          function updateClock() {
            var t = getTimeRemaining(endtime);

            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

            if (t.total <= 0 && !isTaskGiver && isMyTimer) {
              socket.emit('score-point', { 'player': socketID, 'opponent': opponent })
              console.log(name + ' TIMEOUT INFO:\n' + isTaskGiver + "\n" + isPlayerTurn + "\n" + canUpload + "\n timer: " + isMyTimer)
              isPlayerTurn = false;
              canUpload = false;
              isMyTimer = false;
              socket.emit('timer-controller', {
                'opponent': opponent,
                'task_giver': isTaskGiver,
                'player_turn': isPlayerTurn,
                'can_upload': canUpload,
                'timer_status': isMyTimer
              })
              clearInterval(timeinterval);
              buttonStateHandler();

            } else if (t.total <= 0 && isTaskGiver && isMyTimer) {
              console.log(name + ' TIMEOUT INFO taskGiver:\n' + isTaskGiver + "\n" + isPlayerTurn + "\n" + canUpload + "\n timer: " + isMyTimer)
              isTaskGiver = false;
              isPlayerTurn = false;
              canUpload = false;
              isMyTimer = false;

              socket.emit('timer-controller', {
                'opponent': opponent,
                'task_giver': isTaskGiver,
                'player_turn': isPlayerTurn,
                'can_upload': canUpload,
                'timer_status': isMyTimer
              })
              clearInterval(timeinterval);
              buttonStateHandler();
            }
          }

          updateClock();
          timeinterval = setInterval(updateClock, 1000);
        }


      },
      false
    );

    function checkStatus() {
      console.log(name + " PLAYER INFO: \nSocket ID: " + socketID + "\nOpponent: " + opponent + "\n" + isTaskGiver + "\n" + isPlayerTurn + "\n" + canUpload + '\nScore: ' + playerScore)
    }


    function buttonStateHandler() {

      const button_ok = document.getElementById("ok-button")
      const button_nok = document.getElementById("nok-button")
      const upload_button = document.getElementById("upload-btn")

      const turnIndicator = document.getElementById("turn")
      const giverIndicator = document.getElementById("is-giver")

      if (isTaskGiver == true
        && isPlayerTurn == true
        && canUpload == true) {
        button_ok.disabled = true;
        button_nok.disabled = true;
        upload_button.disabled = false;
      } else if (
        isTaskGiver == false
        && isPlayerTurn == false
        && canUpload == false) {
        button_ok.disabled = true;
        button_nok.disabled = true;
        upload_button.disabled = true;
      } else if (
        isTaskGiver == true
        && isPlayerTurn == false
        && canUpload == false) {
        button_ok.disabled = true;
        button_nok.disabled = true;
        upload_button.disabled = true;
      } else if (
        isTaskGiver == false
        && isPlayerTurn == true
        && canUpload == false) {
        button_ok.disabled = false;
        button_nok.disabled = false;
        upload_button.disabled = true;
      } else if (
        isTaskGiver == false
        && isPlayerTurn == true
        && canUpload == true) {
        button_ok.disabled = true;
        button_nok.disabled = true;
        upload_button.disabled = false;
      } else if (
        isTaskGiver == true
        && isPlayerTurn == true
        && canUpload == false) {
        button_ok.disabled = false;
        button_nok.disabled = false;
        upload_button.disabled = true;
      }

      if (isPlayerTurn == true) {
        turnIndicator.innerHTML = " TWOJA KOLEJ"
      } else {
        turnIndicator.innerHTML = " KOLEJ PRZECIWNIKA"
      }

      if (isTaskGiver == true) {
        giverIndicator.innerHTML = "ZADAJESZ"
      } else {
        giverIndicator.innerHTML = "POWTARZASZ"
      }

    }

    function delay(time) {
      return new Promise(resolve => setTimeout(resolve, time));
    }

    function getTimeRemaining(endtime) {
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor((t / 1000) % 60);
      var minutes = Math.floor((t / 1000 / 60) % 60);
      return {
        'total': t,
        'minutes': minutes,
        'seconds': seconds
      };
    }

  </script>
</head>




<body>
  <div id="big-cont">

    <div id="logo"> Game of SKATE</div>

    <div id="wrapper" class="card">
      <div class="header" style="text-align: center; margin-top: 1em;">
        <div id="player-div" class="card" style="text-align: center; ">
          <p class="tag">
            <%= user %>:
          </p>
          <span class="score" id="player-score"> 0</span>
        </div>

        <div class="card">

          <span id="is-giver"> </span>
          <div id="turn"></div>

          <div id="clockdiv">
            <span class="minutes">00</span>:<span class="seconds">00</span>
          </div>

          <div id="upl">
            <input class="upload" type="file" id="upload_input" multiple accept="file/*" style="display:none;" />
            <button id="upload-btn" onclick="document.getElementById('upload_input').click();" type="button"
              class="btn btn-warning btn-lg">UPLOAD</button>
          </div>

          <div id="oknok">
            <button id="ok-button" type="button" class="btn btn-success btn-lg">Trick was OK</button>
            <button id="nok-button" type="button" class="btn btn-danger btn-lg">Trick was NOT OK</button>
          </div>
        </div>

        <div id="opponent-div" class="card" style="text-align: center;">
          <p id="opponent-name" class="tag">
            <% if (typeof opponent==='undefined' ) { %>
              Undefined:
              <% } %>
          </p>
          <span class="score" id="opponent-score"> 0</span>
        </div>
      </div>


      <div class="card" id="message-container">
      </div>

      
      <!-- <button onclick="checkStatus()" style="position: fixed;
    padding-bottom: 5px;
    bottom: 0;">CHECK STATUS</button> -->

    </div>
  </div>
</body>

</html>