body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  border-style: solid;
}

#player-div {
  border-right: solid;
}
#opponent-div {
  border-left: solid;
}

.tag {
  margin-block-end: 0;
  padding-top: 1em;
  font-size: 1.25rem;
  font-weight: 700;
}

.score {
  font-size: 5em;
  font-weight: 700;
}

#is-giver {
  font-size: 1.5rem;
  font-weight: 700;
}

#turn{
  /* padding-bottom: 0.5rem; */
  font-size: 1.5rem;
  font-weight: 600;
}

#timer {
  font-size: 2rem;
  font-weight: 800;
}

#upload-btn {
  width: 100%;
}

#ok-button{
  /* display: inline-block; */
  width: 48%;
  height: 80px;
  float: left;
}

#nok-button {
  /* display: inline-block; */
  width: 48%;
  height: 80px;
  float: right;
}

#message-container {
  border-style: solid;
  max-width: 1200px;
}

#message-container div {
  /* background-color: #CCC; */
  padding: 5px;
}

/* #message-container div:nth-child(2n) {
  background-color: #FFF;
} */



.other-msg {
  width: 340px;
  height: auto;
  float: right;
  margin-right: 2em;
  margin-left: 50em;
  padding: 0.5em 0.5em 0.5em 1em;
  border-radius: 5px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  background-color: #85acff;
  /* animation */
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.other-msg>video {
  width: 320px;
}
.other-msg>p {
  margin: 0px;
}

.my-msg {
  width: 340px;
  height: auto;
  float: left;
  margin-left: 2em;
  margin-right: 50em;
  padding: 0.5em 0.5em 0.5em 1em;
  border-radius: 5px;
  border-color: #206ED2;
  border-width: 1px;
  border-style: solid;
  background-color: #85ff85;
  /* animation */
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.my-msg>video {
  width: 320px;
}
.my-msg>p {
  margin: 0px;
}
