@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0;  } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body {
  background-color: #5a5f64;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}


#wrapper {
  min-width: 58rem;
  max-width: 68rem;
  /* animation */
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#logo {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  color: #ffffff;
  margin:0;
  outline: black 2px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  
}

#player-div {
  font-family: 'Ubuntu', sans-serif;
}
#opponent-div {
  font-family: 'Ubuntu', sans-serif;
}

.tag {
  margin-block-end: 0;
  padding-top: 1em;
  font-size: 1.5rem;
  font-weight: 700;
}

.score {
  font-size: 5em;
  font-weight: 700;
}

#is-giver {
  margin-top: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}

#turn{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

#clockdiv {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.minutes, .seconds {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

#upload-btn {
  height: 80px;
  width: 100%;
}

#ok-button{
  /* display: inline-block; */
  width: 48%;
  height: 80px;
  float: left;
}

#nok-button {
  /* display: inline-block; */
  width: 48%;
  height: 80px;
  float: right;
}

#message-container {
  /* border-style: solid; */
  min-height: 20rem;
  max-width: 78rem;
}

#message-container div {
  /* background-color: #CCC; */
  padding: 5px;
}



.other-msg {
  width: 340px;
  height: auto;
  float: right;
  margin-right: 2em;
  margin-left: auto;
  padding: 0.5em 0.5em 0.5em 1em;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: #ffc107;
  /* animation */
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.other-msg>video {
  width: 320px;
}
.other-msg>p {
  margin: 0px;
}

.my-msg {
  width: 340px;
  height: auto;
  
  float: left;
  margin-left: 2em;
  margin-right: 40rem;
  padding: 0.5em 0.5em 0.5em 1em;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: #14BAFF;
  /* animation */
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.my-msg>video {
  width: 320px;
}
.my-msg>p {
  margin: 0px;
}
