body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

#message-container {
  border-style: solid;
  max-width: 1200px;
}

#message-container div {
  background-color: #CCC;
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: #FFF;
}


#send-container {
  position: fixed;
  padding-bottom: 30px;
  bottom: 0;
  background-color: white;
  max-width: 1200px;
  width: 80%;
  display: flex;
}

#message-input {
  flex-grow: 1;
}

.other-msg {
  width: 340px;
  height: auto;
  float: right;
  margin-right: 2em;
  margin-left: 1em;
  padding: 0.5em 0.5em 0.5em 1em;
  border-radius: 5px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  background-color: #85acff;
  /* animation */
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.other-msg>video {
  width: 320px;
}
.other-msg>p {
  margin: 0px;
}

.my-msg {
  width: 340px;
  height: auto;
  float: left;
  margin-left: 2em;
  margin-right: 1em;
  padding: 0.5em 0.5em 0.5em 1em;
  border-radius: 5px;
  border-color: #206ED2;
  border-width: 1px;
  border-style: solid;
  background-color: #85ff85;
  /* animation */
  animation-name: fadeIn;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.my-msg>video {
  width: 320px;
}
.my-msg>p {
  margin: 0px;
}

.room_object {
  text-align: center;
	box-shadow: 0px 0px 0px 0px #276873;
	background-color:#599bb3;
	border-radius:10px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
}
.room-object:hover {
	background-color:#408c99;
}
.room-object:active {
	position:relative;
	top:1px;
}